@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: Roboto, serif;
}

.header{
    background-color: #1F2937;
    padding-bottom: 100px;
}

.container{
      max-width: 1100px;
      margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
   
}

.nav h1{
 font-size: 24px;
 color:#F9FAF8;
}

.links{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
     color: #EBE7EB;
}

.hero{
    display: flex;
    align-items: center;
    gap:48px;
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-text{
    font-size: 18px;
    color: #EBE7EB;  
}

.hero-text h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin:0px;
}

.hero-text p {
    margin:5px;
    
}
.hero-image{
    display: flex;
    justify-content: flex-end;
}
.hero-image img{
     width:100%;
     max-width: 500px;
     height: auto;
}


button{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 10px; 
    padding: 10px;
    width: 100px;
    font-weight: 700;
   border:none;
   margin-top: 10px;
}

.information-title{
   display: flex;
   justify-content: center;
   margin: 50px;
   font-size:36px;
   color: #1F2937;
   font-weight: 900;

}

.information-section{
    display:flex;
    justify-content: center;
    gap: 52px;
}

.information{
    max-width:200px;
    text-align: center;
    margin-bottom: 100px;
}

.information img{
  width: 100px;
  height: 100px;
  outline: 5px solid #229cee;
  outline-offset: 20px;
  border-radius: 5px;
  margin-bottom: 32px;
}

.text{
    max-width: 200px;
    font-size: 18px;
    color: #1F2937;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE7EB;  
}

.quote-container{
     margin: 100px;
      max-width: 800px;
}

.quote{
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: 300;
}

.person{
    display: flex;
    color:#1F2937;
    justify-content: flex-end;
    font-weight:900;
}



.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.cta-container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #3882F6;
    padding: 50px 80px 50px 80px;
}

.cta-text{
    flex:4;
    color:white;
    font-size: 18px;
}

.cta-text h3, h4{
    margin:0;
}
.cta-text h4{
    font-size: 14px;
    font-weight: 300;
}

.cta-button{
    flex:1;
    align-items: flex-end;
}

.cta-button button{
    outline: 1px solid white;
    text-align: center;
     border-radius: 10px; 
     width: 150px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color:white;
}
